/*.app-container {
  background-color: cadetblue;
  min-height: 20vh;
  padding: 100px;
  font-size: 100px;
  font-style: italic;
}

.app-layout-1 {
  padding: 100px;
  background-color: rgb(190, 144, 45);
  font-size: 100px;
}

.app-layout-2 {
  padding: 100px;
  background-color: rgb(62, 61, 61);
  font-size: 100px;
}
*/